.list{
    flex: 1;
    .list-title{
        position: relative;
        color: #ff0000;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 30px;
        text-indent: 10px;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
            background-color: #ff0000;
        }
    }
    .list-content{
        li{ 
            width: 100%;
            padding: 10px 5px 5px;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
            white-space: nowrap;
            span{
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                text-align: center;
                color: #ff0000;
            }
            a{
                display: inline-block;
                vertical-align: middle;
                letter-spacing: 1px;
                height: 20px;
                line-height: 20px;
                max-width: 100%;
                font-size: 16px;
                color: #545456;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            a:hover{
                color: #ff0000;
                text-decoration: underline;
            }
        }
    }
}
