.home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    .home_banner {
        flex: 360px 0 0;
        width: 100%;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 20px;
            position: absolute;
            bottom: -10px;
            border-radius: 10px;
            background: #ffffff;
            z-index: 1;
        }
    }
    .home_menu {
        height: 100%;
        width: 100%;
        flex: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .menu-container {
            width: 100%;
            .menu-item {
                height: 108px;
                font-size: 28px;
                box-shadow: 0px 0px 20px 0px #ccc;
                border-radius: 8px;
                padding: 0 24px;
                justify-content: flex-start;
                flex-direction: row;
                color: #111111;
                text-decoration-line: none;
                span {
                    margin-left: 20px;
                }
                .menu-icon {
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 76px;
                    box-shadow: 0px 0px 20px 0px #ccc;
                    .iconfont {
                        font-size: 48px;
                        color: #fff;
                        text-shadow: 0px 0px 20px 0px #ccc;
                    }
                }
                &:nth-child(1) .menu-icon {
                    background: #5c99ff;
                }
                &:nth-child(2) .menu-icon {
                    background: #fe665e;
                }
                &:nth-child(3) .menu-icon {
                    background: #7178fc;
                }
                &:nth-child(4) .menu-icon {
                    background: #33dab2;
                }
                &:nth-child(5) .menu-icon {
                    background: #fcaf32;
                }
            }
        }
    }
}
