* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow: auto; /* 用于 android4+，或其他设备 */
    -webkit-overflow-scrolling: touch; /* 用于 ios5+ */
}
#app {
    height: 100%;
    width: 100%;
    display: flex;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
ul {
    list-style: none;
}
.am-toast{
    font-size: 28px;
}
.am-toast-notice-content .am-toast-text{
    min-width: 120px;
    .am-icon-lg{
        width: 72px;
        height: 72px;
    }
    .am-toast-text-info{
        font-size: 28px;
    }
}
