.praise-detail{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .header{
        padding: 0 30px;
        flex: 100px 0 0;
        display: flex;
        align-items: center;
        background-color: #ebedf1;
        font-size: 28px;
        span{
            margin-left: 10px;
            color: #fdc42b;
        }
    }
    .comments{
        flex: 1;
        overflow: auto;
        padding-bottom: 100px;
    }
}