.menu-container {
    height: 100%;
    padding: 0 30px;
    overflow: auto;
    .menu-item {
        display: block;
        text-decoration-line: none;
        color: #111111;
        .menu-icon{
            align-self: flex-end;
        }
    }
}
