.details-wrapper{
    position: relative;
    width: 100%; 
    height: 100%;
    .details-top{
        position: absolute;
        top: 0;
        bottom: 5%;
        width: 100%;
        height: 95%;
        overflow: auto;
    }
    .details-bottom{
        position: absolute;
        top: 95%;
        bottom: 0;
        width: 100%;
        height: 5%;
    }
}
